In [ ]:
import pandas as pd
import numpy as np 
import warnings
warnings.warn('Ignore')

# Optimal Portfolio
### All the stock are taken from indepth research 
ref: https://docs.google.com/presentation/d/1Hs3L61SkSzB4xOocpkBXOHoS3-JsIkCgebnlvkOd7XQ/edit?usp=sharing

In [186]:
import datetime
# import request
# !pip install pypfopt

In [158]:
# !pip install PyPortfolioOpt

import yfinance as yf
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

In [ ]:
data1 = yf.download(ticker,'2016-1-31' , '2022-7-31')['Adj Close']

In [118]:
from pypfopt.efficient_frontier import EfficientFrontier

In [174]:
Value_ticker = ['CANBK.NS' , 'FEDERALBNK.NS' , 'INDIANB.NS' , 'ESCORTS.NS' , 'FDC.NS' , 'CAPPL.BO' , 'AARTIDRUGS.NS' , 'LT.BO', 'COALINDIA.NS' , 'NTPC.NS']

Growth_ticker = ['TORNTPOWER.NS', 'GRAVITA.NS' , 'MAITHANALL.NS' , 'SUMICHEM.NS' , 'JPPOWER.NS' , 'CCL.NS' , 'TITANBIO.BO' , 'AMBALALSA.BO'  , 'ZODIAC.NS' , 'GEPIL.NS']

Theme_ticker = ['VOLTAS.NS' , 'JUBLFOOD.NS' , 'TRENT.NS', 'ASIANPAINT.NS', 'MCDOWELL-N.NS', 'HAVELLS.NS', 'IRCTC.NS', 'AFFLE.NS', 'JUSTDIAL.NS' , 'BHARTIARTL.NS', 'TATACOMM.NS', 'NAUKRI.NS']

In [175]:
# Growth_ticker = ['TORNTPOWER.NS', 'GRAVITA.NS' , 'MAITHANALL.NS' ,'MANORG.NS' , 'SUMICHEM.NS' , 'JPPOWER.NS' , 'CCL.NS' , 'TITANBIO.BO' , 'AMBALALSA.BO' , 'ADVAIT.BO' , 'ZODIAC.NS' , 'GEPIL.NS']
Growth_ticker

['TORNTPOWER.NS',
 'GRAVITA.NS',
 'MAITHANALL.NS',
 'SUMICHEM.NS',
 'JPPOWER.NS',
 'CCL.NS',
 'TITANBIO.BO',
 'AMBALALSA.BO',
 'ZODIAC.NS',
 'GEPIL.NS']

In [181]:
def weight_Opt_port(ticker, amount_inv ):
    data1 = yf.download(ticker,'201-1-1' , '2021-7-31')['Adj Close']
    data1 = data1.reset_index()
    data1 = data1.set_index(pd.DatetimeIndex(data1['Date'].values))
    data1 = data1.drop(columns=['Date'])
    
    
    mean = expected_returns.mean_historical_return(data1)
    std = risk_models.sample_cov(data1)
    
    #optimize for the max sharpe ratio
    ef = EfficientFrontier(mean, std)
    weights = ef.max_sharpe()

    cleaned_weights = ef.clean_weights()
#     print(cleaned_weights)

    ef.portfolio_performance(verbose = True)
    latest_prices = get_latest_prices(data1)
    weights = cleaned_weights
    da = DiscreteAllocation(weights, latest_prices, total_portfolio_value=portfolio_val)
    
    allocation, leftover = da.lp_portfolio()
    print('Discreate Allocation', allocation)
    print('Funds Remaining:', leftover)

In [182]:
weight_Opt_port(Value_ticker, 100000)

[*********************100%***********************]  10 of 10 completed
Expected annual return: 34.9%
Annual volatility: 30.1%
Sharpe Ratio: 1.09
Discreate Allocation {'AARTIDRUGS.NS': 7, 'CAPPL.BO': 1, 'ESCORTS.NS': 3}
Funds Remaining: 920.4845357429713

C:\Anaconda\lib\site-packages\cvxpy\problems\problem.py:1337: UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.
  warnings.warn(

In [183]:
# [*********************100%***********************]  10 of 10 completed
# Expected annual return: 49.8%
# Annual volatility: 33.3%
# Sharpe Ratio: 1.44
# Discreate Allocation {'CANBK.NS': 1, 'CAPPL.BO': 18, 'COALINDIA.NS': 2, 'FDC.NS': 4, 'FEDERALBNK.NS': 18, 'INDIANB.NS': 4, 'NTPC.NS': 5}
# Funds Remaining: 800.803367313416

In [184]:
weight_Opt_port(Growth_ticker, 10000000)

# [*********************100%***********************]  10 of 10 completed
# Expected annual return: 54.3%
# Annual volatility: 32.9%
# Sharpe Ratio: 1.59
# Discreate Allocation {'CANBK.NS': 5, 'CAPPL.BO': 8, 'COALINDIA.NS': 4, 'ESCORTS.NS': 2, 'FDC.NS': 1, 'FEDERALBNK.NS': 18, 'INDIANB.NS': 16, 'NTPC.NS': 9}
# Funds Remaining: 866.532722230284

[*********************100%***********************]  10 of 10 completed
Expected annual return: 54.3%
Annual volatility: 31.4%
Sharpe Ratio: 1.67
Discreate Allocation {'AMBALALSA.BO': 33, 'GRAVITA.NS': 8, 'SUMICHEM.NS': 10, 'TITANBIO.BO': 5, 'TORNTPOWER.NS': 2}
Funds Remaining: 376.8506116231056

C:\Anaconda\lib\site-packages\cvxpy\problems\problem.py:1337: UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.
  warnings.warn(

In [185]:
weight_Opt_port(Theme_ticker, 100000)

# [*********************100%***********************]  10 of 10 completed
# Expected annual return: 54.3%
# Annual volatility: 32.9%
# Sharpe Ratio: 1.59
# Discreate Allocation {'CANBK.NS': 5, 'CAPPL.BO': 8, 'COALINDIA.NS': 4, 'ESCORTS.NS': 2, 'FDC.NS': 1, 'FEDERALBNK.NS': 18, 'INDIANB.NS': 16, 'NTPC.NS': 9}
# Funds Remaining: 866.5325849011824

[*********************100%***********************]  12 of 12 completed
Expected annual return: 85.7%
Annual volatility: 29.3%
Sharpe Ratio: 2.86
Discreate Allocation {'AFFLE.NS': 4, 'IRCTC.NS': 6, 'JUBLFOOD.NS': 3}
Funds Remaining: 1608.1305911711315

C:\Anaconda\lib\site-packages\cvxpy\problems\problem.py:1337: UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.
  warnings.warn(

In [169]:
weight_Opt_port('^NSEI', 100000 )

[*********************100%***********************]  1 of 1 completed
Expected annual return: 14.7%
Annual volatility: 18.1%
Sharpe Ratio: 0.70
Discreate Allocation {}
Funds Remaining: 9999.99994384448

C:\Anaconda\lib\site-packages\cvxpy\problems\problem.py:1337: UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.
  warnings.warn(

### For Value investing

In [95]:
# tickers_list = ['AAPL', 'WMT', 'IBM', 'MU', 'BA', 'AXP']

# Fetch the data
import yfinance as yf
data1 = yf.download(Value_ticker,'2020-5-1' , '2022-7-31')['Adj Close']

# Print first 5 rows of the data
print(data1.head())

[*********************100%***********************]  10 of 10 completed
            AARTIDRUGS.NS   CANBK.NS    CAPPL.BO  COALINDIA.NS  ESCORTS.NS  \
Date
2020-05-04     177.751709  78.716255  332.064758    114.120056  676.633606
2020-05-05     175.899887  77.169014  327.104797    110.671600  686.047119
2020-05-06     179.031845  78.474503  324.327301    107.263237  709.085449
2020-05-07     189.136185  78.667900  324.327301    104.897430  743.321045
2020-05-08     187.508041  77.217354  320.359375    103.453888  733.610168

                FDC.NS  FEDERALBNK.NS  INDIANB.NS       LT.BO    NTPC.NS
Date
2020-05-04  244.949997      42.932362   44.488171  807.760559  75.515366
2020-05-05  239.750000      41.860271   44.015396  794.847717  76.464989
2020-05-06  245.300003      42.688705   44.109951  795.322571  78.199066
2020-05-07  252.399994      42.055199   44.393616  781.127930  74.689598
2020-05-08  252.600006      41.567886   43.968121  774.813904  71.840744

In [96]:
data1.tail()

,AARTIDRUGS.NS,CANBK.NS,CAPPL.BO,COALINDIA.NS,ESCORTS.NS,FDC.NS,FEDERALBNK.NS,INDIANB.NS,LT.BO,NTPC.NS
Date,,,,,,,,,,
2022-07-25,433.250000,224.800003,804.400024,198.158585,1692.400024,252.399994,107.349998,175.850006,1781.900024,147.275040
2022-07-26,424.799988,221.600006,777.049988,199.539490,1694.449951,253.199997,105.699997,172.550003,1750.449951,147.176910
2022-07-27,419.299988,227.050003,756.650024,200.673782,1699.300049,252.300003,107.449997,175.800003,1797.199951,146.882553
2022-07-28,405.700012,226.199997,759.750000,200.081985,1722.199951,251.399994,107.300003,177.750000,1801.250000,147.520325
2022-07-29,418.899994,222.300003,776.900024,208.367355,1733.000000,253.500000,106.650002,176.500000,1807.650024,150.071396

In [97]:
data1 = data1.reset_index()

In [98]:
data1.head()

,Date,AARTIDRUGS.NS,CANBK.NS,CAPPL.BO,COALINDIA.NS,ESCORTS.NS,FDC.NS,FEDERALBNK.NS,INDIANB.NS,LT.BO,NTPC.NS
0,2020-05-04,177.751709,78.716255,332.064758,114.120056,676.633606,244.949997,42.932362,44.488171,807.760559,75.515366
1,2020-05-05,175.899887,77.169014,327.104797,110.671600,686.047119,239.750000,41.860271,44.015396,794.847717,76.464989
2,2020-05-06,179.031845,78.474503,324.327301,107.263237,709.085449,245.300003,42.688705,44.109951,795.322571,78.199066
3,2020-05-07,189.136185,78.667900,324.327301,104.897430,743.321045,252.399994,42.055199,44.393616,781.127930,74.689598
4,2020-05-08,187.508041,77.217354,320.359375,103.453888,733.610168,252.600006,41.567886,43.968121,774.813904,71.840744

In [99]:
data1 = data1.set_index(pd.DatetimeIndex(data1['Date'].values))

In [100]:
data1.head()

,Date,AARTIDRUGS.NS,CANBK.NS,CAPPL.BO,COALINDIA.NS,ESCORTS.NS,FDC.NS,FEDERALBNK.NS,INDIANB.NS,LT.BO,NTPC.NS
2020-05-04,2020-05-04,177.751709,78.716255,332.064758,114.120056,676.633606,244.949997,42.932362,44.488171,807.760559,75.515366
2020-05-05,2020-05-05,175.899887,77.169014,327.104797,110.671600,686.047119,239.750000,41.860271,44.015396,794.847717,76.464989
2020-05-06,2020-05-06,179.031845,78.474503,324.327301,107.263237,709.085449,245.300003,42.688705,44.109951,795.322571,78.199066
2020-05-07,2020-05-07,189.136185,78.667900,324.327301,104.897430,743.321045,252.399994,42.055199,44.393616,781.127930,74.689598
2020-05-08,2020-05-08,187.508041,77.217354,320.359375,103.453888,733.610168,252.600006,41.567886,43.968121,774.813904,71.840744

In [101]:
data1 = data1.drop(columns=['Date'])

In [102]:
data1.head()

,AARTIDRUGS.NS,CANBK.NS,CAPPL.BO,COALINDIA.NS,ESCORTS.NS,FDC.NS,FEDERALBNK.NS,INDIANB.NS,LT.BO,NTPC.NS
2020-05-04,177.751709,78.716255,332.064758,114.120056,676.633606,244.949997,42.932362,44.488171,807.760559,75.515366
2020-05-05,175.899887,77.169014,327.104797,110.671600,686.047119,239.750000,41.860271,44.015396,794.847717,76.464989
2020-05-06,179.031845,78.474503,324.327301,107.263237,709.085449,245.300003,42.688705,44.109951,795.322571,78.199066
2020-05-07,189.136185,78.667900,324.327301,104.897430,743.321045,252.399994,42.055199,44.393616,781.127930,74.689598
2020-05-08,187.508041,77.217354,320.359375,103.453888,733.610168,252.600006,41.567886,43.968121,774.813904,71.840744

In [103]:
#To optimize the portfolio

In [104]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [105]:
#calculate the expected annualized returns and sample covariance matrix of the daily asset 

mean = expected_returns.mean_historical_return(data1)
std = risk_models.sample_cov(data1)

In [106]:
#optimize for the max sharpe ratio
ef = EfficientFrontier(mean, std)
weights = ef.max_sharpe()

cleaned_weights = ef.clean_weights()
print(cleaned_weights)

ef.portfolio_performance(verbose = True)

OrderedDict([('AARTIDRUGS.NS', 0.06646), ('CANBK.NS', 0.0), ('CAPPL.BO', 0.10199), ('COALINDIA.NS', 0.0), ('ESCORTS.NS', 0.29469), ('FDC.NS', 0.0), ('FEDERALBNK.NS', 0.0), ('INDIANB.NS', 0.22731), ('LT.BO', 0.24877), ('NTPC.NS', 0.06078)])
Expected annual return: 55.9%
Annual volatility: 23.5%
Sharpe Ratio: 2.29

(0.5588145510199919, 0.2349985157066874, 2.292842358598177)

In [65]:
!pip install pulp

Requirement already satisfied: pulp in c:\anaconda\lib\site-packages (2.6.0)

In [69]:
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

portfolio_val = 10000
latest_prices = get_latest_prices(data1)
weights = cleaned_weights
da = DiscreteAllocation(weights, latest_prices, total_portfolio_value=portfolio_val)

In [70]:
allocation, leftover = da.lp_portfolio()
print('Discreate Allocation', allocation)
print('Funds Remaining:', leftover)

Discreate Allocation {'CANBK.NS': 1, 'CAPPL.BO': 1, 'COALINDIA.NS': 2, 'ESCORTS.NS': 4, 'FDC.NS': 1, 'FEDERALBNK.NS': 3, 'INDIANB.NS': 2, 'NTPC.NS': 2}
Funds Remaining: 20.193449149717708